# Ignorar todos os arquivos de log
*.log

# Ignorar diretórios bin e obj
/bin/
/obj/
.vs/
.cph/
/html/
# Ignorar arquivos temporários do sistema
*.tmp
*.swp

# Ignorar configurações do Code::Blocks
*.layout
*.depend
*.cbp
